.searchForm {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.searchInput {
  width: 60%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.searchButton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
}
